NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:5001
NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fire-factory-si.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fire-factory-si
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fire-factory-si.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
# NEXT_PUBLIC_FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
